# Package namespace file for MetaPcor

exportPattern("^[^\\.]")  # Export all non-hidden functions and objects

import(GEOquery)
import(GEOquery)
import(readxl)
import(igraph)
import(visNetwork)
import(plotly)
import(GGally)
import(ggrepel)
import(gprofiler2)
import(matrixcalc)
import(ff)
import(bit)
import(DescTools)
import(forcats)
import(stringr)
import(purrr)
import(readr)
import(tidyr)
import(tibble)
import(ggplot2)
import(tidyverse)
import(dplyr)
import(plyr)
import(metafor)
import(metadat)
import(Matrix)
import(meta)
import(GeneNet)
import(fdrtool)
import(longitudinal)
import(data.table)
import(corpcor)
import(space)
import(geomnet)
